* {
  box-sizing: border-box !important;
}
body {
  background: #f5f5f5;
}
nav {
  margin-bottom: 25px;
}
.brand-logo {
  padding: 0 20px;
}
.brand-logo span {
  background: white;
  padding: 3px 5px;
  color: #004d40;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.nav-link {
  font-size: 20px;
}
.scroll-link {
  font-size: 20px;
}

#search {
  width: 100%;
  display: block;
  margin: auto;
}

#add-task {
  width: 90vw;
  height: 95vh;
}

.manip-task {
  margin: 0 5px;
}
.modal-footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

label {
  font: 18px;
  color: black;
}
.modal-submit {
  display: block;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.collection-item {
  background: #f5f5f5 !important;
}
